GITHUB_CLIENT_ID_RU={{ workshop_devops_vault_github_client_id_ru }}
GITHUB_CLIENT_SECRET_RU={{ workshop_devops_vault_github_client_secret_ru }}
ROLLBAR_ACCESS_TOKEN={{ workshop_devops.vault_rollbar_access_token }}
PORT={{ workshop_devops_port }}
DB_NAME={{ workshop_devops_vault_db_name }}
DB_USERNAME={{ workshop_devops_vault_db_username }}
DB_PASSWORD={{ workshop_devops_vault_db_password }}
DB_HOSTNAME={{ workshop_devops_vault_db_hostname }}
DB_POOL_SIZE={{ workshop_devops_vault_db_pool_size }}
DATABASE_URL={{ workshop_devops_vault_db_url }}
SECRET_KEY_BASE={{ workshop_devops_vault_secret_key_base }}
RAILS_ENV={{ workshop_devops_rails_env }}
NGINX_SERVER_ADDRESS={{ workshop_devops_nginx_server_address }}
